@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

:root {
  --no-task: #6d6d6d;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #ecfdf8;
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
}

/* navbar */
nav {
  height: 38px;
  color: #ecfdf8;
  background-image: linear-gradient(to right, #34d3a2, #059669);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  width: 100%;
}

.nav__container {
  display: flex;
  width: 100%;
  justify-content: center; /* currently center because I commented out the icons */
  font-size: 16px;
}

.nav__logo span {
  font-weight: bold;
}

.menu-icon,
.search li a {
  text-decoration: none;
  color: #ecfdf8;
  font-size: 16px;
}

.search {
  display: flex;
  list-style-type: none;
  gap: 16px;
}

/* create task form */
.create-task {
  display: flex;
  margin: 0 auto;
}

form,
.repeat-options {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 288px;
}

form label {
  display: flex;
  gap: 4px;
  flex-direction: column;
  font-size: 14px;
}

input {
  font-size: 16px;
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid #888888;
  background-color: inherit;
  width: 100%;
}

.error {
  font-size: 12px;
  color: #ef4444;
  visibility: hidden;
}

/* selection styles */
.select__container {
  position: relative;
}

.selection {
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
  height: 35px;
  padding: 8px 12px;
  border: 1px solid #888888;
  border-radius: 4px;
  cursor: pointer;
  background-color: inherit;
  color: #888888;
  font-size: 16px;
}

.select__container .select__icon-container {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  pointer-events: none;
  color: black;
  font-size: 8px;
}

/* checkbox styles */

.block {
  display: block;
}

.hidden {
  display: none;
}

#repeat-options {
  flex-direction: column;
  gap: 12px;
}

.hidden {
  padding-left: 24px;
}

.hidden__checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.hidden__main-checkbox {
  display: none;
}

.hidden__custom-checkbox {
  height: 16px;
  width: 16px;
  border: solid 1px #6d6d6d;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hidden__main-checkbox:checked + .hidden__custom-checkbox {
  border: none;
  background-color: #34d3a2;
}

.hidden__main-checkbox:checked + .hidden__custom-checkbox::after {
  content: "\2713";
  font-size: 8px;
  font-weight: 1000;
  color: #f6f6f6;
}

/* radio button styles */
.frequency {
  display: flex;
  flex-direction: row;
}

.custom-radio-btn {
  height: 16px;
  width: 16px;
  border: 1px solid black;
  background-color: inherit;
  border-radius: 50%;
}

.custom-radio-btn input {
  display: none;
}

.custom-radio-btn .radio-checker {
  width: 100%;
  height: 100%;
  background-color: #10b985;
  border-radius: 50%;
  display: none;
}

.custom-radio-btn input:checked + .radio-checker {
  display: inline-block;
}

/*#Toggle Priority Style */
#switch {
  height: 0;
  width: 0;
  visibility: hidden;
}

#toggle {
  cursor: pointer;
  text-indent: -9999px;
  width: 40px;
  height: 19px;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;
  margin-right: 1rem;
}

#toggle:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 15px;
  height: 15px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

#switch:checked + #toggle {
  background: #bada55;
}

#switch:checked + #toggle:after {
  left: calc(100% - 3px);
  transform: translateX(-100%);
}

#toggle:active:after {
  width: 18px;
}

/* Summary components */
.summary {
  display: flex;
  align-items: center;
  gap: 8px;
}

.summary__card {
  border: 1px solid #3d3d3d;
  width: 100%;
  color: #3d3d3d;
  border-radius: 4px;
  padding: 10px;
}

.summary__checkbox {
  display: none;
}

/* custom checkbox */
.summary__label::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 5px;
  border: 2px solid #000;
}

.summary__label::after {
  content: "";
  display: none;
  width: 5px;
  height: 10px;
  border: solid #000;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  position: absolute;
  top: 0.5px;
  left: 5px;
}

.summary__checkbox:checked + .summary__label::after {
  display: inline-block;
}

.summary__label {
  position: relative;
  font-size: 16px;
  font-weight: 600;
}

.summary__detail {
  font-size: 12px;
  font-weight: 400;
}

/* save button */
.btn-update,
.btn-cancel,
.btn-save {
  background: linear-gradient(to right, #34d3a2, #059669);
  font-size: 16px;
  font-weight: 600;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 12px 24px;
}

/* Edit Task Form */
.editTaskModal {
  background-color: #ecfdf8;
  flex-direction: column;
  gap: 4px;
  padding: 8px;
}

.editForm {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 288px;
  margin: 0 auto;
}

/* modal styles */
.createTaskModal {
  display: none;
  background-color: #ecfdf8;
  flex-direction: column;
  gap: 4px;
  padding: 8px;
  z-index: 2;
}

span#closeBtn {
  width: fit-content;
  margin-left: auto;
}

span#closeBtn:hover {
  transform: scale(1.1);
  cursor: pointer;
}

/* .overlay {
  height: 100%;
  width: 100%;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(61, 61, 61, 0.8);
  z-index: 1;
} */

.legend--category,
.legend--activity,
.legend--priority {
  padding: 4px 8px;
  border-radius: 4px;
  color: #f6f6f6;
  font-size: 12px;
}

.legend--category {
  background-color: #b45309;
}

.legend--activity {
  background-color: #4d7c0f;
}

.legend--priority {
  background-color: #b91c1c;
}

/* Homepage styles */
.homepage {
  flex-direction: column;
  margin: 0 auto;
  gap: 1rem;
  width: 100%;
  padding: 8px 16px;
}

/* task card styles */
.homepage__task {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

/* task section styles */

.task__section {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.task__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0;
  overflow: hidden;
  border: 1px solid #6d6d6d;
  padding: 8px 12px;
  background-color: inherit;
  border-radius: 4px;
  transition: gap 0.8s;
}

.task__container-top {
  display: flex;
  justify-content: space-between;
}

.task__name {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 600;
}

.task__name input {
  height: 16px;
  width: 16px;
}

#show-btn {
  cursor: pointer;
  transition: transform 0.3s;
}

#show-btn:hover {
  transform: scale(1.1);
}

.task__container-mid {
  display: flex;
  flex-direction: column;
  opacity: 0;
  gap: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s, opacity 0.3s, gap 0.8s, margin 0.8s;
}

.task__container-mid.show {
  gap: 16px;
  opacity: 1;
  overflow: visible;
  max-height: 400px;
  margin: 4px 0px;
}

.task__container.show {
  gap: 16px;
}

.task__description {
  font-size: 14px;
  color: #454545;
}

.task__settings {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.task__settings button {
  width: 100%;
  background-color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 8px;
  padding: 4px 8px;
  cursor: pointer;
  transition: transform 0.3s;
}

.task__settings button:hover {
  transform: scale(1.05);
}

#edit-task-btn {
  border: 1px solid currentColor;
  color: #3b82f6;
}

#del-task-btn {
  border: 1px solid currentColor;
  color: #ef4444;
}

.task__container-bot {
  display: flex;
  font-size: 12px;
  gap: 4px;
  margin-top: 4px;
}

/* create task button styles */
#createBtn {
  height: 44px;
  width: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ecfdf8;
  border: none;
  background-image: linear-gradient(#34d3a2, #059669);
  border-radius: 50%;
  cursor: pointer;
  padding: 14px;
  transition: transform 0.2s;
  position: fixed;
  bottom: 25px;
  right: 25px;
  z-index: 1000;
}

#createBtn:hover {
  transform: scale(1.1);
}

/* no task */
.task__noTask {
  display: flex;
  align-items: center;
  border: 1px solid var(--no-task);
  border-radius: 5px;
  padding: 0.6rem 1.5rem;
}

.task__noTask > p {
  color: var(--no-task);
  font-size: 1rem;
  font-weight: 900;
}

.task__noTask :first-child {
  display: inline-block;
  font-size: 1.5rem;

  transform: rotate(110deg);
}

/* buttons inside modals styles */
.btn-update,
.btn-cancel,
.btn-save {
  cursor: pointer;
  transition: transform 0.3s;
}

.btn-update:hover,
.btn-cancel:hover,
.btn-save:hover {
  transform: scale(1.01);
}

/* feedback styles */

.homepage__feedback {
  display: none;
  gap: 4px;
  width: 300px;
  align-self: center;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  background-color: #d1faed;
  padding: 16px 32px;
  position: fixed;
  top: 50px;
  opacity: 1;
  color: #10b985;
  z-index: 1000;
  animation: popout 0.8s ease-out;
}

@keyframes popout {
  0% {
    top: -100px;
  }
  100% {
    top: 50px;
  }
}

/* calendar temporary layout */
.homepage__calendar {
  height: 102px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.calendar__carrousel {
  display: flex;
  gap: 8px;
}

/* media queries */

/* desktop styles, applied to screen above 992px */
@media (min-width: 992px) {
  .homepage {
    flex-direction: row;
    justify-content: center;
  }

  .homepage__calendar {
    padding: 30px;
    width: 502px;
    height: 497px;
    justify-content: center;
    border: 1px solid #3d3d3d;
    border-radius: 4px;
  }

  .task__section {
    padding: 32px;
    width: 564px;
    height: 521px;
    border: 1px solid #3d3d3d;
    border-radius: 4px;
  }

  .summary__card {
    width: 50%; /* modified this to 50% so we can apply width to the createBtn */
  }

  #createBtn {
    position: static;
    width: 126px;
    justify-content: space-around;
    bottom: auto;
    right: auto;
    color: #ffffff;
    border-radius: 4px;
    padding: 10px;
  }

  #createBtn:hover {
    transform: scale(1.03);
  }

  #createBtn::before {
    content: "Add Task";
  }
}
