*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.flex {
  display: flex;
  align-items: center;
  gap: 1rem;
}
/* navbar */
nav {
  height: 38px;
  color: #ecfdf8;
  background-image: linear-gradient(to right, #34d3a2, #059669);
  display: flex;
  align-items: center;
  padding: 8px 16px;
}

.nav__container {
  display: flex;
  justify-content: space-between;
  width: 288px;
  font-size: 16px;
}

.nav__logo span {
  font-weight: bold;
}

.menu-icon,
.search li a {
  text-decoration: none;
  color: #ecfdf8;
  font-size: 16px;
}

.search {
  display: flex;
  list-style-type: none;
  gap: 16px;
}

/* create task form */
.create-task {
  height: 629px;
  width: 288px;
  display: flex;
  margin: 0 auto;
  position: absolute;
  top: 56px;
  left: 16px;
}

form,
.repeat-options {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 288px;
}

form label {
  display: flex;
  gap: 4px;
  flex-direction: column;
  font-size: 14px;
}

input {
  font-size: 16px;
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid #888888;
}

.error {
  font-size: 12px;
  color: #ef4444;
}

.block {
  display: block;
}

.hidden {
  display: none;
}

/*#Toggle Priority Style */
#switch {
  height: 0;
  width: 0;
  visibility: hidden;
}

#toggle {
  cursor: pointer;
  text-indent: -9999px;
  width: 80px;
  height: 40px;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;
}

#toggle:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 30px;
  height: 30px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

#switch:checked + #toggle {
  background: #bada55;
}

#switch:checked + #toggle:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

#toggle:active:after {
  width: 40px;
}

/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */
